/*css reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

body {
    background-color: rgb(179, 179, 179);
}

h1 {
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
    font-family: sans-serif;
    font-weight: 900;
}

.addtask {
    background-color: rgb(43, 124, 223);
    color: white;
}

.section {
    background-color: rgb(255, 255, 255);
    color: gray;
}

h3 {
    display: inline;
}

/*containers*/

.header-container,
.buttons-bar-container,
.todolist-container {
    background-color: white;
}

.buttons-bar-container,
.todolist-container {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 20px;
}

.buttons-bar-container {
    margin-top: 30px;
    margin-bottom: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.todolist-container {
    padding-left: 0px;
}

/*header*/

#logo {
    margin-left: 10px;
    vertical-align: middle;
}

/*bar container*/

.button {
    border: 1px solid rgb(116, 116, 116);
    padding: 5px 15px;
    border-radius: 5px;
}

/*to do list*/

ul {
    list-style-type: none;
}