/*css reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

body {
    background-color: rgb(179, 179, 179);
}

h1 {
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
    font-family: sans-serif;
    font-weight: 900;
}

/*containers*/

.header-container,
.buttons-bar-container,
.todolist-container {
    background-color: white;
    border: 1px solid black;
}

.buttons-bar-container,
.todolist-container {
    max-width: 1080px;
    margin: 0 auto;
}

.buttons-bar-container {
    margin-top: 30px;
    margin-bottom: 2px;
}

/*header*/

#logo {
    margin-left: 10px;
    vertical-align: middle;
}